# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local raw dataset
[PUB] India_runs_data_and_ai_challenge/

# Local CSV outputs
*.csv
!participant_redrob.csv
!atharvamorkar04_3026.csv

# Virtual environments
.venv/
venv/
ENV/
